table {
	width: 100%;
	background: white;
	margin-bottom: 1.25em;
	border: solid 1px var(--color-text-titles);
	border-collapse: collapse;
	border-spacing: 0;
    margin-top: 20px;
}

table tr th,
table tr td {
	padding: 0.5625em 0.625em;
	font-size: 0.875em;
	cursor: pointer;
	color: #222222;
	border: 1px solid #dddddd;
}

table tr.even,
table tr.alt,
table tr:nth-of-type(even) {
	background: var(--bg-row-table);
}

table > tbody > tr > td {
	text-align: center;
}


@media only screen and (max-width: 768px) {
	.container_input{
		justify-content: start;
	}
	table.resp,
	.resp thead,
	.resp tbody,
	.resp tr,
	.resp th,
	.resp td,
	.resp caption {
		display: block;
	}

	table.resp {
		border: none;
	}

	.resp thead tr {
		display: none;
	}

	.resp tbody tr {
		margin: 1em 0;
		border: 1px solid var(--color-text-titles);
		border-radius: var(--border-radius-box);
	}

	.resp td {
		border: none;
		border-bottom: 1px solid #dddddd;
		position: relative;
		padding-left: 45%;
		text-align: left;
	}

	.resp tr td:last-child {
		border-bottom: 1px double #dddddd;
	}

	.resp tr:last-child td:last-child {
		border: none;
	}

	.resp td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		text-align: left;
		font-weight: bold;
	}

	td:nth-of-type(1):before {
		content: "Cliente";
	}

	td:nth-of-type(2):before {
		content: "#Pedido";
	}

	td:nth-of-type(3):before {
		content: "Total";
	}

	td:nth-of-type(4):before {
		content: "Estado";
	}

	td:nth-of-type(5):before {
		content: "Fecha";
	}

	td:nth-of-type(6):before {
		content: "Acciones";
	}
}
