.form_category{
    margin-top: 20px;
}
.form_section{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.form_section_input_file{
    margin-top: 10px;
}
.form_section > label{
    font-size: 13px;
    font-weight: 500;
}
.input_form_category{
    height: var(--heigth-input);
    border-radius: var(--border-radius-input);
    padding-left: 5px;
    font-size: 14px;
}
.label_input_image_category{
    height: var(--heigth-input);
    border-radius: var(--border-radius-input);
    background-color: white;
    cursor: pointer;
    display: flex;
    font-weight: 200 !important;
    align-items: center;
    padding-left: 5px;
}
.btn_create_category{
    margin-top: 20px;
    padding: 5px;
    border-radius: var(--border-radius-box);
    cursor: pointer;
    color: var(--color-white);
    background-color: var(--color-primary);
}
.imagen_new_category{
    width: 100%;
    height: 220px;
    object-fit: cover;
    margin-top: 10px;
    border-radius: var(--border-radius-box);
}
.input_file_category{
    display: none;
}

@media screen and (min-width:400px) {
    .input_form_category,.label_input_image_category,.imagen_new_category{
        width: 300px;
    }
}