.grid_item {
  background-color: var(--color-white);
  box-shadow: var(--box-shadow-black);
  height: 110px;
  border-radius: var(--border-radius-box);
  padding: 15px;
  position: relative;
}

.item_name {
  font-size: 15px;
}

.btn_category {
  position: absolute;
  bottom: 10px;
  cursor: pointer;
  padding: 5px;
  font-size: 13px;
  border-radius: var(--border-radius-box);
}

.btn_edit_category {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn_delete_category {
  left: 100px;
  background-color: var(--color-danger);
  color: var(--color-white);
}
