.grid_item {
  background-color: var(--color-white);
  box-shadow: var(--box-shadow-black);
  height: 300px;
  border-radius: var(--border-radius-box);
  padding: 15px;
  position: relative;
}

.item_name {
  font-size: 15px;
  overflow: hidden;
  margin-bottom: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.imagen_category_card{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: var(--border-radius-box);
}
.btn_category {
  position: absolute;
  bottom: 10px;
  cursor: pointer;
  padding: 5px;
  font-size: 13px;
  border-radius: var(--border-radius-box);
}

.btn_edit_category {
  background-color: var(--color-primary);
  color: var(--color-white);
  right: 20px;
}

.btn_delete_category {
  left: 20px;
  background-color: var(--color-danger);
  color: var(--color-white);
}
