.input_file {
  display: none;
}
.text_infomative {
  font-size: 13px;
  margin-top: 7px;
}
.label_input_file {
  padding: 6px 5px;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: var(--border-radius-box);
  cursor: pointer;
}
.icon_add_files {
  font-size: 20px;
}
.form_files {
  margin-top: 20px;
}
.list_imagen_selected {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  max-height: 360px;
  overflow: auto;
}
.item_img_grid{
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-box);
}
.item_grid{
    height: 300px;
    padding: 5px;
    background-color: var(--color-white);
    border-radius: var(--border-radius-box);

}
@media screen and (min-width:600px) {
   .list_imagen_selected{
    max-height: 500px;
   }
}
@media screen and (min-width:800px) {
  .list_imagen_selected{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width:1000px) {
  .list_imagen_selected{
    grid-template-columns: repeat(4, 1fr);
  }
}
